@use 'global';

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: global.$bgColor;
  transition: background-color 100ms ease;
  z-index: 1;

  &--hidden {
    background-color: transparent;
    transition: background-color 100ms ease;

    .header__logo,
    .header__links__item:first-child {
      opacity: 0;
      visibility: hidden;
      transition: opacity 500ms ease;
    }
  }

  &__container {
    padding: 8px 36px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    max-width: 80px;
    width: 100%;
    margin: 5px;
    transition: opacity 500ms ease;
  }

  &__links {
    display: flex;

    &__item {
      margin: 5px;
      list-style-type: none;
      transition: opacity 500ms ease;
    }
  }

  .button {
    height: 50px;
    display: flex;
    align-items: center;
  }
}

